<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center"> Por onde anda Valo?</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                O finlandês Ville Hermani Valo, fundador, compositor e vocalista da banda HIM, nasceu em Helsinque em 22 de Novembro de 1976. A banda foi formada em 1991 e, para tristeza dos fãs, chegou ao fim em 2018. Após o término da banda, o frontman andou sumido, se envolvendo em pequenos projetos, como o Ville Valo & Agents. O projeto não fez muito sucesso entre os fãs da banda, talvez por ser cantado em finlandês. 
                Em Abril de 2020, após dois anos do término da banda, Valo deu sinal de vida. Repaginou o heartagram, famoso símbolo do HIM, criado por ele. Seguindo a linha da sua antiga, o lançamento de três singles deixou seus fãs eufóricos. Será que vem álbum novo por aí?                
            </p>
        </div>        
    </div>
</div>

    <div class="parallax"></div>

    <div class="row w-100 mt-5 mb-5">
        <div class="col-md-12 w-100 d-flex justify-content-center">
            <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
        </div>
    </div>


