<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="assets/img/heartagram vv.jpg" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Ville Valo's fan page</h5>
      <p class="card-text text-center text-monospace">Um exemplo de texto rápido para construir o título do card e fazer preencher o conteúdo do card.</p>
      
      <a href="https://www.facebook.com/theheartagram" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Facebook Oficial</a>
      <a href="https://lnk.to/heartagram" class="btn btn-outline-dark mb-3 d-flex justify-content-center" target="_blank">Site Oficial</a>

    </div>
</div>
