<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://64.media.tumblr.com/5aa642f6580cbb6d9f389ebe78b38ce3/tumblr_mo59puhOi21rd8690o1_500.gifv" alt="Imagem de capa do card">
    </div>
    
    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Blog dedicado ao vocalista, compositor, fundador e frontman da findada banda finlandesa HIM. Atualmente, Ville está envolvido em seu projeto solo VV.</p>
      
      <a href="https://www.facebook.com/theheartagram" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="_blank">Facebook Oficial</a>
      <a href="https://lnk.to/heartagram" class="btn btn-outline-dark mb-3 d-flex justify-content-center" target="_blank">Site Oficial</a>

    </div>
</div>
