/* You can add global styles to this file, and also import other style files */
body{
    background-color: #6C757D!important;
}
 
  h1 {
    color:#0D0D0D;
    text-align: center;
  }
  
  p {
    font-size: 20px;
    color:#0D0D0D;
  }

 